.add-operation-specially{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
        select{
            cursor: pointer;
            padding: 20px 60px;
            border: 1px solid black;
            background: black;
            color: white;
            font-weight: 550;
            font-size: 17px;
        }
}

.save-operation-div{
    display: flex;
    justify-content: flex-end;

    .save-operation-btn{
            cursor: pointer;
            padding: 10px 30px;
            border: 1px solid black;
            /* border: none; */
            background: black;
            color: white;
            font-weight: 550;

        button:hover{
            background: white;
            color: black;
        }
    }
}

/* .save-operation-overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 60;
    height: 100vh;
    width: 100%;
    background-color: rgba(74, 74, 74, 0.755);
}

.save-operation-modal{
    display: none;
        position: fixed;
        top: 20%;
        left: 26%;
        width: 50%;
        height: 40vh;
        z-index: 60;
        background-color: white;
        color: black;
        border-radius: 7px;
        box-shadow: 0 0 10px rgb(86, 86, 86);
        padding: 55px;
        
        p{
            font-weight: 500;
            font-size: 20px;
        }
        
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 20px;

            textarea{
                padding: 20px;
                outline: none;
                font-size: 18px;
                resize: none;
            }

            button{
                cursor: pointer;
                padding: 10px 30px;
                border: 1px solid black;
                background: black;
                color: white;
                font-weight: 550;
                resize: none;
                align-self: flex-end;
            }

            button:hover{
                background: white;
                color: black;
            }
        }
} */
