thead, th {
    background-color: #000;
    color: white;  
    
    th:nth-child(1){
        width: 35px;
        text-align: center;
    }
    
    th:nth-child(2){
        width: 75px;
        padding-inline: 7px;
    }

    th:nth-child(3){
        width: 100px !important;
    }

    th:nth-child(4){
        width: 100px !important;
    }

    th:nth-child(5){
        width: 100px !important;
    }

    th:nth-child(6){
        width: 100px !important;
    }

    th:nth-child(7){
        width: 100px !important;
    }
}



tbody{
    .add-operation-weight{
        width: 50px;
        height: 25px;
        padding-left: 5px;
        outline: none;
    }

    select{
        width: 90px;
        height: 33px;
        border: none;
        border-radius: 10px;
        outline: none;
        background-color: white;
        box-shadow: 0 0 10px rgba(210, 210, 210, 0.442);
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }

    input[type=text]{
        width: 70px;
        height: 33px;
        border: none;
        border-radius: 10px;
        outline: none;
        padding-left: 10px;
        box-shadow: 0 0 10px rgba(210, 210, 210, 0.442);
        font-family: "Montserrat", sans-serif;
    }

    td{
        width: 100px;
    }
}


.add-new-operation{
    cursor: pointer;
    padding: 5px 12px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 9px;
    margin-left: -15px;
}

.add-info-overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 60;
    height: 100vh;
    width: 100%;
    background-color: rgba(74, 74, 74, 0.755);
}

.add-info-modal{
    display: none;
        position: fixed;
        top: 20%;
        left: 26%;
        width: 50%;
        height: 40vh;
        z-index: 60;
        background-color: white;
        color: black;
        border-radius: 7px;
        box-shadow: 0 0 10px rgb(86, 86, 86);
        padding: 55px;
        
        p{
            font-weight: 500;
            font-size: 20px;
        }
        
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 20px;

            textarea{
                padding: 20px;
                outline: none;
                font-size: 18px;
                resize: none;
            }

            button{
                cursor: pointer;
                padding: 10px 30px;
                border: 1px solid black;
                background: black;
                color: white;
                font-weight: 550;
                resize: none;
                align-self: flex-end;
            }

            button:hover{
                background: white;
                color: black;
            }
        }
}


.add-customer-overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 60;
    height: 100vh;
    width: 100%;
    background-color: rgba(74, 74, 74, 0.755);
}

.add-customer-modal{
    display: none;
    position: fixed;
    top: 30%;
    left: 26%;
    width: 45%;
    height: 30vh;
    z-index: 60;
    background-color: white;
    color: black;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(86, 86, 86);
    
    form{
        position: absolute;
        z-index: 8;
        top: 20%;
        left: 20%;
        width: 50%;
        height: 20vh;
    
        label{
            font-weight: bold;
            font-size: 18px;
        }
    
        input{
            width: 400px;
            height: 30px;
            margin-bottom: 25px;
            margin-top: 5px;
            outline: none;
            padding-left: 10px;
        }
    
        button{
            cursor: pointer;
            padding: 13px 17px;
            background-color: black;
            color: white;
            font-weight: bold;
            border: none;
            position: absolute;
            right: -60px;
            margin-top: 15px;
        }
    }
}